<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list>
          <mat-list-item><a mat-button>Home</a></mat-list-item>
          <mat-list-item><a mat-button>About</a></mat-list-item>
          <mat-list-item><a mat-button>Menu</a></mat-list-item>
          
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Our Address</h4>
        <address style="font-size: 80%">
          Some Address<br>Some Address <br>Some Address <br>
          <i class="fa fa-phone"></i>: +123456789<br>
          <i class="fa fa-fax"></i>: +123456789 123<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">something@domain.net</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus links" href="http://google.com/+"><i class="fa fa-google-plus fa-lg links2"></i></a>
      <a mat-icon-button class="btn-facebook links" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg links2"></i></a>
      <a mat-icon-button class="btn-linkedin links" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg links2"></i></a>
      <a mat-icon-button class="btn-twitter links" href="http://twitter.com/"><i class="fa fa-twitter fa-lg links2"></i></a>
      <a mat-icon-button class="btn-youtube links" href="http://youtube.com/"><i class="fa fa-youtube fa-lg links2"></i></a>
      <a mat-icon-button class="btn-mail links" href="mailto:"><i class="fa fa-envelope-o fa-lg links2"></i></a>
    </div>
  </div>
  <div>
      <p>© Copyright 2021 Company name</p>
  </div>
</div>