.container {
    margin: 20px;
    display:flex;
    width: 100%;
}

.bodyhome{
    float: left;
    width: 45%;
    margin-left: 30px;
    box-decoration-break: initial;
}

.bodyhome2{
    float: right;
    margin-top: 40px;
    margin-left: 10px;
    width: 50%;
    
}